.content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.content-grid {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 50em)
    [main-end] minmax(1em, 1fr)
    [full-end];
}

.content-wrap {
  grid-column: main;
  padding: 45px 0;
}

@media screen and (max-width: 768px) {
  .content-wrap {
    padding: 30px 0;
  }
}

@media screen and (min-width: 768px) {
  .content {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    width: 1170px;
    padding: 0;
  }
}