.btn-caption {
  cursor: pointer;
}

.btn-caption img {
  margin-left: 10px;
  transition: .5s ease-in-out;
}

.btn-group {
  grid-template-columns: repeat(auto-fit, minmax(138px, 1fr));
}

.buttons-wrap_active .btn-caption img {
  transform: rotate(180deg);
}

.buttons-wrap_active .btn-group {
  max-height: 1000px;
  margin-bottom: 32px;
}

.btn {
  width: 360px;
  padding-top: 2px;
  cursor: pointer;
  color: #fff;
  border: 0;
  border-radius: 3px;
  background-color: rgb(44, 153, 34);
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}

.btn:hover {
  background-color: rgba(44, 153, 34, .844);
}

.btn:active,
.btn:focus {
  background-color: rgba(44, 153, 34);
}

.btn:disabled {
  background-color: rgb(24, 105, 17);
}

.btn-choose,
.btn-restart {
  width: 100%;
}

.btn-restart {
  background-color: rgb(153, 34, 34);
}

.btn-restart:hover {
  background-color: rgba(153, 34, 34, .871);
}

.btn-restart:active,
.btn-restart:focus {
  background-color: rgb(153, 34, 34);
}