body {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 50em)
    [main-end] minmax(1em, 1fr)
    [full-end];
  color: #515151;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.25rem;
}

.puzzle {
  grid-column: main;
  padding: 45px 0;
}

@media screen and (max-width: 768px) {
  .puzzle {
    padding: 30px 0;
  }
}

.puzzle__content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (min-width: 768px) {
  .puzzle__content {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1200px) {
  .puzzle__content {
    width: 1170px;
    padding: 0;
  }
}

.puzzle__info {
  margin-bottom: 16px;
  color: #515151;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
}

.puzzle__container {
  display: flex;
  flex-direction: column;
  padding: 24px 32px 24px 32px;
  border-radius: 5px;
  background: #fff;
  background: #eaeaea;
}

.puzzle__img {
  margin-right: 12px;
}

.puzzle__text {
  color: #061b36;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
}

.puzzle__caption {
  margin-bottom: 16px;
  color: #061b36;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
}

.puzzle__item-wrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #eef3f7;
  border-radius: 6px;
}

.puzzle__item-img {
  display: flex;
  align-items: end;
  margin-right: 10px;
}

.puzzle__item-text {
  position: relative;
}

.puzzle__item-text span {
  color: #061b36;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 17px;
}

.puzzle__item-check {
  position: absolute;
  right: -22px;
  bottom: 5px;
}

.puzzle__item-result {
  flex-grow: 1;
  text-align: right;
  color: #061b36;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 17px;
}

.puzzle__item-wrap_done {
  box-sizing: border-box;
  border: 1px solid #77bb2f;
  border-radius: 6px;
}

.puzzle__progress {
  position: relative;
  overflow: hidden;
}

.puzzle__progress-caption {
  margin-bottom: 8px;
  color: #77bb2f;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: 20px;
}

.puzzle__progress-bar-green {
  position: relative;
  z-index: 3;
  width: 11%;
  height: 4px;
  margin-bottom: 16px;
  transition: 1s;
  border-radius: 15px;
  background: #77bb2f;
}

.puzzle__progress-bar-gray {
  position: absolute;
  z-index: 1;
  bottom: 16px;
  width: 100%;
  height: 4px;
  border-radius: 15px;
  background: #f8f8f8;
}

.puzzle__info-wrapper_mobile {
  display: none;
}

.puzzle__subtitle {
  margin-top: 24px;
  margin-bottom: 8px;
  color: #78be20;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 22px;
}

.puzzle__title {
  margin-bottom: 32px;
  color: #061b36;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  line-height: 42px;
}

.puzzle__item-wrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  margin-bottom: 0;
  padding: 12px;
  padding: 0;
  border: none;
  border-radius: 6px;
}

.button_green:active {
  background: #77bb2f;
}

.puzzle__item-result__gray {
  color: #d1d2cd;
}

.puzzle__result-all {
  color: #d1d2cd;
}

.puzzle__item-result__black {
  color: #061b36;
}

.puzzle__input-container {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin-bottom: 22px;
  cursor: pointer;
  border-radius: 5px;
  background: #fff;
}

.puzzle__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  border: none;
}

.puzzle__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  border: none;
}

.puzzle__input-check {
  width: 100%;
  height: 100%;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
}

.puzzle__input:checked + .puzzle__input-check img {
  opacity: 1;
}

.puzzle__input:checked + .puzzle__input-check {
  border: none;
}

.puzzle__input-container_disable {
  pointer-events: none;
  opacity: .7;
}

.puzzle__input-img {
  width: 100%;
  height: auto;
  opacity: 0;
  object-fit: cover;
  object-position: center;
}

.puzzle__input-wrapper {
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 27px;
  height: 27px;
  background: #fff;
}

.puzzle__input-text {
  align-self: flex-end;
  margin-left: 20px;
  color: #515151;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
}

.puzzle__comment-false {
  margin-top: -15px;
  margin-bottom: 10px;
  padding-left: 46px;
  color: #f00;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 17px;
}

.puzzle__questions-container-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  gap: 20px;
}

.puzzle__questions-container {
  width: 100%;
}

.puzzle__question-title {
  margin-bottom: 8px;
  color: #77bb2f;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 17px;
}

.puzzle__question-caption {
  margin-bottom: 22px;
  padding-bottom: 26px;
  color: #061b36;
  border-bottom: 1px solid #d1d2cd;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 22px;
}

.puzzle__comment {
  margin-bottom: 30px;
  margin-left: 44px;
  padding: 20px 19px 20px 15px;
  color: #515151;
  border: 1px solid #d1d2cd;
  border-radius: 5px;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 17px;
}

.puzzle__comment-title {
  margin-bottom: 8px;
  color: #77bb2f;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 17px;
}

.puzzle__comment-title-false {
  color: #f00;
}

.puzzle__answers {
  color: #333;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 17px;
}

.puzzle__answer {
  color: #333;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 17px;
}

.puzzle__input-container-correct .puzzle__answer {
  color: #77bb2f;
  font-weight: bold;
}

.puzzle__input-container-false .puzzle__answer {
  color: #f00;
}

.puzzle__answer-false {
  display: flex;
  align-items: center;
  color: #d1d2cd;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 17px;
}

.puzzle__items {
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 500px;
}

.puzzle__item {
  position: relative;
  width: 118px;
  height: 118px;
  margin: 4px;
  border-radius: 3px;
}

.puzzle__questions {
  width: 100%;
}

.puzzle__item-num {
  padding-top: 13px;
  padding-left: 18px;
  transition: .3s;
  color: #d1d2cd;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 32px;
}

.puzzle__questions-container-wrapper .row {
  width: 100%;
}

.active .puzzle__item-num {
  color: #77bb2f;
}

.puzzle__item-first {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  transition: 1s;
  background: #f8f8f8;
  backface-visibility: hidden;
}

.active {
  background: rgba(119, 187, 47, .2);
}

.puzzle__item-second {
  width: 100%;
  height: 100%;
  transition: 1s;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.puzzle__item-second {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.puzzle__item-second img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.puzzle__item.opened .puzzle__item-second {
  transform: rotateY(0);
}

.puzzle__item.opened .puzzle__item-first {
  transform: rotateY(180deg);
}

.puzzle__message {
  display: none;
}

.puzzle__message-button-restart {
  top: 0;
  left: 0;
  width: 255px;
  height: 52px;
  margin-right: 30px;
  color: #fff;
  border-radius: 5px;
  background: #061b36;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: 20px;
}

.puzzle__message-button-restart:active {
  background: #061b36;
}

.puzzle__message-button-restart:hover {
  background: #42556c;
}

.puzzle__message-buttons {
  display: flex;
}

.puzzle__input-container-js .puzzle__input-check {
  border: 4px solid #77bb2f;
}

.puzzle__question-container-js .puzzle__input-check {
  border: 3px solid #77bb2f;
}

.puzzle__content {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin-bottom: 48px;
  background: #f8f8f8;
}

.puzzle__message-wrap {
  width: 70%;
  padding: 42px 30px;
  padding-right: 0;
}

.puzzle__message-title {
  width: 300px;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 32px;
}

.puzzle__message-text {
  margin-bottom: 115px;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
}

.puzzle__message-link-text {
  color: #77bb2f;
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: 20px;
}

.puzzle__message-link {
  display: flex;
  align-items: center;
}

.puzzle__message-link-text {
  z-index: 1;
  margin-left: 16px;
}

.puzzle__message-bg1 {
  position: absolute;
  top: 0;
  right: 16px;
}

.puzzle__message-bg2 {
  position: absolute;
  right: 30px;
  bottom: 0;
}

.puzzle__content-block {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1199px) {
  .puzzle__info-wrapper {
    display: none;
  }

  .puzzle__info-wrapper_mobile {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 28px;
    padding: 0 24px;
    padding-bottom: 24px;
    background: #f8f8f8;
  }

  .puzzle__info-wrap {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .puzzle__info-wrap:last-child {
    margin-right: 0;
  }

  .puzzle__container {
    height: 100%;
    margin-right: 30px;
    padding: 24px 32px;
  }

  .puzzle__info-wrap {
    width: 100%;
  }

  .puzzle__items {
    width: 100%;
  }

  .puzzle__item {
    width: 30%;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .button {
    width: 100%;
    margin: 0 auto;
  }

  .button_link {
    margin-top: 15px;
    margin-left: 0;
  }

  .puzzle__info-wrapper_mobile {
    display: block;
    width: 100%;
    margin-top: 0;
  }

  .puzzle__info-wrapper_mobile ul {
    padding-right: 0;
  }

  .puzzle__info-wrapper_mobile ul {
    padding-right: 0;
  }

  .puzzle__info-wrap {
    margin-right: 0;
  }

  .puzzle__container {
    margin-right: 0;
  }

  .puzzle__subtitle {
    font-size: 17px;
    line-height: 21px;
  }

  .puzzle__title {
    font-size: 20px;
    line-height: 28px;
  }

  .puzzle__input-text {
    font-size: 16px;
    line-height: 24px;
  }

  .puzzle__title {
    margin-bottom: 32px;
    padding: 0;
  }

  .puzzle__subtitle {
    margin-top: 40px;
    padding: 0;
  }

  .puzzle__input-wrapper {
    transform: scale(.8);
  }

  .puzzle__input-text {
    margin-left: 8px;
  }

  .puzzle__input-container {
    margin-bottom: 16px;
  }

  .puzzle__answers {
    font-size: 14px;
    line-height: 17px;
  }

  .puzzle__comment {
    margin-left: 32px;
  }

  .puzzle__items {
    width: 100%;
  }

  .puzzle__item {
    width: 30%;
    height: auto;
  }

  .puzzle__answer {
    font-size: 14px;
    line-height: 17px;
  }

  .puzzle__answer-text {
    display: flex;
  }

  .puzzle__answer {
    align-self: center;
    padding-top: 3px;
  }

  .puzzle__comment {
    margin-right: -15px;
    margin-bottom: 16px;
    margin-left: 4px;
  }

  .puzzle__comment-text {
    font-size: 12px;
    line-height: 18px;
  }

  .puzzle__question-caption {
    margin-bottom: 16px;
    padding-bottom: 0;
    border: none;
  }

  .puzzle__message-buttons {
    flex-direction: column;
  }

  .puzzle__message-button-restart {
    height: 38px;
    font-size: 16px;
    line-height: 20px;
  }

  .puzzle__comment-false {
    padding-left: 34px;
  }

  .puzzle__caption {
    font-size: 17px;
    line-height: 21px;
  }

  .puzzle__progress-caption {
    font-size: 15px;
    line-height: 18px;
  }

  .puzzle__item-text span {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
  }

  .puzzle__content {
    overflow: hidden;
    height: 300px;
    margin-bottom: 32px;
  }

  .puzzle__message-wrap {
    width: 100%;
    padding: 24px;
  }

  .puzzle__message-title {
    width: auto;
    font-size: 20px;
    line-height: 24px;
  }

  .puzzle__message-text {
    margin-bottom: 24px;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
  }

  .puzzle__message-link-text {
    margin-left: 16px;
    color: #77bb2f;
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
  }

  .puzzle__message-link {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
  }

  .puzzle__message-bg1 {
    position: absolute;
    top: 0;
    right: 16px;
    display: none;
  }

  .puzzle__message-bg2 {
    position: absolute;
    z-index: 0;
    right: -40px;
    bottom: -30px;
  }

  .puzzle__content-block {
    flex-direction: column;
  }
}
