body {
  grid-template-columns:
    [full-start] minmax(1em, 1fr)
    [main-start] minmax(0, 50em)
    [main-end] minmax(1em, 1fr)
    [full-end];
}

.puzzle {
  grid-column: main;
}

.puzzle__info {
  margin-bottom: 16px;
}

.puzzle__img {
  margin-right: 12px;
}

.puzzle__text {
  color: #061b36;
  font-size: 14px;
  line-height: 20px;
}

.puzzle__caption {
  margin-bottom: 16px;
  color: #061b36;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.button_green:active {
  background: #77bb2f;
}

.puzzle__item-result__gray {
  color: #d1d2cd;
}

.puzzle__result-all {
  color: #d1d2cd;
}

.puzzle__item-result__black {
  color: #061b36;
}

.puzzle__input-container {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: auto;
  height: auto;
  margin-bottom: 22px;
  cursor: pointer;
  border-radius: 5px;
  background: #fff;
}

.puzzle__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  border: none;
}

.puzzle__input-check {
  width: 100%;
  height: 100%;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
}

.puzzle__input:checked + .puzzle__input-check img {
  opacity: 1;
}

.puzzle__input:checked + .puzzle__input-check {
  border: none;
}

.puzzle__input-container_disable {
  pointer-events: none;
  opacity: .7;
}

.puzzle__input-img {
  width: 100%;
  height: auto;
  opacity: 0;
  object-fit: cover;
  object-position: center;
}

.puzzle__comment-false {
  margin-top: -15px;
  margin-bottom: 10px;
  padding-left: 46px;
  color: #f00;
  font-size: 14px;
  line-height: 17px;
}

.puzzle__questions-container-wrapper {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.puzzle__comment {
  margin-bottom: 30px;
  margin-left: 44px;
  padding: 20px 19px 20px 15px;
  color: #515151;
  border: 1px solid #d1d2cd;
  border-radius: 5px;
  font-size: 14px;
  line-height: 17px;
}

.puzzle__comment-title-false {
  color: #f00;
}

.puzzle__answer {
  color: #333;
  font-size: 14px;
}

.puzzle__input-container-correct .puzzle__answer {
  color: #77bb2f;
  font-weight: bold;
}

.puzzle__answer-false {
  display: flex;
  align-items: center;
  color: #d1d2cd;
  font-size: 14px;
  line-height: 17px;
}

.puzzle__item {
  position: relative;
  width: 118px;
  height: 118px;
  margin: 4px;
  border-radius: 3px;
}

.puzzle__questions {
  width: 100%;
}

.puzzle__item-num {
  padding-top: 13px;
  padding-left: 18px;
  transition: .3s;
  color: #d1d2cd;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

.active .puzzle__item-num {
  color: #77bb2f;
}

.puzzle__item-first {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  transition: 1s;
  background: #f8f8f8;

  backface-visibility: hidden;
}

.active {
  background: rgba(119, 187, 47, .2);
}

.puzzle__item-second {
  width: 100%;
  height: 100%;
  transition: 1s;
  transform: rotateY(180deg);

  backface-visibility: hidden;
}

.puzzle__item-second img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.puzzle__item.opened .puzzle__item-second {
  transform: rotateY(0);
}

.puzzle__item.opened .puzzle__item-first {
  transform: rotateY(180deg);
}

.puzzle__message {
  display: none;
}

.puzzle__message-button-restart {
  top: 0;
  left: 0;
  width: 255px;
  height: 52px;
  margin-right: 30px;
  color: #fff;
  border-radius: 5px;
  background: #061b36;
  font-weight: bold;
  line-height: 20px;
}

.puzzle__message-button-restart:active {
  background: #061b36;
}

.puzzle__message-button-restart:hover {
  background: #42556c;
}

@media screen and (max-width: 1199px) {
  .puzzle__item {
    width: 30%;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .button {
    width: 100%;
    margin: 0 auto;
  }

  .puzzle__input-container {
    margin-bottom: 16px;
  }

  .puzzle__item {
    width: 30%;
    height: auto;
  }

  .puzzle__answer {
    font-size: 14px;
    line-height: 17px;
    align-self: center;
    padding-top: 3px;
  }

  .puzzle__comment {
    margin-bottom: 16px;
    margin-left: 4px;
  }

  .puzzle__comment-text {
    font-size: 12px;
    line-height: 18px;
  }

  .puzzle__message-button-restart {
    height: 38px;
    line-height: 20px;
  }

  .puzzle__comment-false {
    padding-left: 34px;
  }

  .puzzle__caption {
    font-size: 17px;
    line-height: 21px;
  }

  .puzzle__progress-caption {
    font-size: 15px;
    line-height: 18px;
  }
}
